-e git+https://github.com/apache/libcloud#egg=apache-libcloud
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/3.3m5.zip
-e git+https://github.com/cloudify-cosmo/cloudify-plugins-common@3.3m5#egg=cloudify-plugins-common==3.3m5