-e git+https://github.com/DimensionDataCBUSydney/libcloud/tree/LIBCLOUD-750-MCP2_Deploy_support#egg=apache-libcloud
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/3.2.1.zip
-e git+https://github.com/cloudify-cosmo/cloudify-plugins-common@3.2.1#egg=cloudify-plugins-common==3.2.1