-e git+https://github.com/apache/libcloud#egg=apache-libcloud
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/3.2.1.zip
-e git+https://github.com/cloudify-cosmo/cloudify-plugins-common@3.2.1#egg=cloudify-plugins-common==3.2.1